.subheading {
  font-weight: 600;
}
.date {
  min-width: 18rem;
}
nav img{
  max-width: 200px;
}
nav{
  background-color: #000000;
  max-width: 1920px;
  margin: 0 auto;
}

nav ul{
  width: 100%;
  margin-left: 0 !important;
}
nav li{
  width: 12%;
}
nav li a{ 
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s;
  color: #ffffff !important;
  text-decoration: none;
}
.dropdown-menu{
  background-color: #000000 !important;
  padding: 0 100%; 
}
.dropdown-item{
  text-align: center !important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-toggle>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}


nav li a:focus{
  outline: none !important;
}
nav li a:hover, .underline{
  background-color: #000000 !important;
  background-size: 100% 2px;
  color: #ffffff !important;
}
nav button{
  border-color: white !important;
}
.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important ;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255) !important;
}
nav button{
  height: 40px;
  width: 56px;
}
nav button:focus{
  outline: 0 !important;
}
.icon-bar {
  display:block;
  margin: auto;
  content:"";
  width: 22px;
  height: 2px;
-webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #ffffff;
  background-color: white;
}
.icon-bar:nth-of-type(1) {
transform: translate3d(0,2px,0) rotate(0deg);
}

.icon-bar:nth-of-type(2) {
transform: translate3d(0,0,0) rotate(0deg);
}

.icon-bar:nth-of-type(3) {
transform: translate3d(0,-2px,0) rotate(0deg);
}

.collapsed .icon-bar:nth-of-type(1) {
transform: translate3d(0,10px,0);
}

.collapsed .icon-bar:nth-of-type(3) {
transform: translate3d(0,-10px,0);
}


@media screen and (max-width: 992px) {
  nav li{
    width: 100%;
}
}